header {
    color: #886060;
    font-size: 34px;
    text-align: center;
}

table {
    margin-top: 12px;
    margin-left: 34%;
    margin-right: auto;

    position: fixed;
}

tr, td {
    padding: 10px;
}

input[type="submit"]:hover {
    background-color: rgb(133, 93, 93);
    color: white;
}
